<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LOGIKA"
        tools:targetApi="31">
        <activity
            android:name=".gameActivities.TorF.twoPlayers.TicTacToeGame"
            android:exported="false" />
        <activity
            android:name=".gameActivities.TorF.twoPlayers.TicTacToeMain"
            android:exported="false" />
        <activity
            android:name=".gameActivities.TorF.TFHomePage"
            android:exported="false" />
        <activity
            android:name=".gameActivities.TorF.singlePlayer.TorFQuizActivity"
            android:exported="false" />
        <activity
            android:name=".gameActivities.logiQuiz.EndActivity"
            android:exported="false"
            android:parentActivityName=".gameActivities.logiQuiz.QuizActivity" />
        <activity
            android:name=".gameActivities.basiQuiz.BQQuizActivity"
            android:exported="false" />
        <activity
            android:name=".gameActivities.logiQuiz.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".gameActivities.logiQuiz.LogicGate"
            android:exported="false" />
        <activity
            android:name=".gameActivities.TorF.singlePlayer.TrueOrFalse"
            android:exported="false" />
        <activity
            android:name=".gameActivities.basiQuiz.MultipleChoice"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:name=".startPortion.SecondLoadingScreen"
            android:exported="false" />
        <activity
            android:name=".startPortion.MainActivity"
            android:exported="false" />
        <activity
            android:name=".startPortion.StartingLoadingScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>